<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
    <!-- Enable features -->
    <featureManager>
         <feature>websocket-1.1</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="80"
                  httpsPort="9493" />

    <application id="acmeair-ss" name="acmeair-ss" type="war" location="acmeair-ss-2.0.0-SNAPSHOT.war"></application>

    <jndiEntry jndiName="com/acmeair/repository/type" value="mongo"/>
</server>
